@import '../../../global/style/css/reactReduxToastr.css';

.root {
  display: flex;
  background: linear-gradient(180deg, #0e1d3d 0%, #000 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.sideLeft {
  width: 27%;
}

@media only screen and (max-width: 1024px) {
  .sideLeft {
    width: 0%;
    display: none;
  }
}

.sideCenter {
  background: rgba(0, 0, 0, 0.25);
  padding: 80px 50px;
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .sideCenter {
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 300px;
  }
}

.sideRight {
  width: 23%;
}

@media only screen and (max-width: 1024px) {
  .sideRight {
    width: 0%;
    display: none;
  }
}

.profileArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .profileArea {
    flex-direction: column;
  }
}

.profilePhoto {
  width: 30%;
}

@media only screen and (max-width: 1024px) {
  .profilePhoto {
    width: 100%;
    margin-bottom: 30px;
  }

  .imgProfile {
    width: 100px !important;
    height: 100px !important;
  }
}

.profileInput {
  width: 70%;
}

@media only screen and (max-width: 1024px) {
  .profileInput {
    width: 100%;
  }
}

.button {
  cursor: pointer;
  border: 0;
  padding: 15px 50px;
  border-radius: 4px;
  background-color: #2c56ff;
  color: #fff;
  float: right;
}

.buttonCancel {
  cursor: pointer;
  border: 0;
  padding: 15px 50px;
  border-radius: 4px;
  background: none;
  float: right;
  margin-right: 5px;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .button {
    padding: 15px 25px;
    width: 100%;
  }

  .buttonCancel {
    padding: 15px 25px;
    width: 100%;
  }
}

.button::after {
  clear: both;
}

.button:hover {
  background: #3742fa;
}

.btnImage {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  border: 0;
  background: #fff;
  border-radius: 50%;
  left: 100px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .btnImage {
    left: 80px;
  }
}

.btnImage:hover {
  background: #ecf0f1;
}
