.container {
  display: flex;
}

.left_content {
  width: 190rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.casting_line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0045ff;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  margin-right: 5rem;
}

.mid_content {
  max-width: 110rem;
  min-width: 110rem;
  display: flex;
  margin: 0 auto;
}

.mid_content span {
  padding: 1rem;
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 12px;
  letter-spacing: 0.2rem;
  color: #0045ff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -6rem;
}

.right_content {
  width: 100%;
}
