.box {
  flex: 50% 1 1;
  position: relative;
}

.inner_box {
  background: white;
  padding: 2rem;
  width: 44rem;
  min-height: 9rem;
  max-height: 11rem;
  border: 1px solid rgba(87, 132, 255, 1);
  position: relative;
  left: 3.3rem;
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.inner_box p {
  margin: 0;
}

.label_container {
  width: 9rem;
  height: 3rem;
  background: rgba(87, 132, 255, 1);
  color: white;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 6rem;
  left: -2.7rem;
}

.label_container p {
  position: absolute;
  top: 2rem;
  right: 4.6rem;
  transform: translate(50%, -100%);
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.2rem;
}

.inner_box,
.inner_box p:last-child {
  margin-top: 1rem;
}

.inner_box span {
  font-weight: 600;
}

.synopsisPlaceholder {
  margin-bottom: 1rem;
}

.synopsisPlaceholderDirector {
  margin-bottom: 0;
  display: inline-block;
}

.foo {
  height: 63px;
  overflow: hidden;
}
