.arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
  top: 2%;
  left: 2%;
  opacity: 0.5;
  border: 0.3rem solid white;
  display: none;
  padding: 10px;
}

.arrow:hover {
  background-color: #555;
}

.arrow img {
  width: 100%;
}

.arrow_show {
  display: block;
  cursor: pointer;
}

/* .mola_frame{
  position: inherit!important;
} */

:global(.video-container) {
  height: 100vh !important;
}

:global(.theoplayer-skin) {
  padding: 0 !important;
}

:global(.theo-primary-color) {
  color: #0070b2 !important;
}

:global(.vjs-selected) {
  color: #0070b2 !important;
}

:global(.vjs-big-play-button) {
  width: 6% !important;
}

:global(.theo-primary-background) {
  color: #fff !important;
  background-color: #0070b2 !important;
}

:global(.vjs-big-play-button::after) {
  /* opacity: 0 !important; */
  margin-top: 117% !important;
  height: 30% !important;
}

@media screen and (min-width: 299px) and (max-width: 640px) {
  .arrow {
    width: 3rem;
    height: 3rem;
    border: 0.16rem solid white;
  }

  :global(.video-container) {
    height: 90vh !important;
    width: 100vw;
  }
}
