/* .casting_box {
  width: 386px;
  padding: 0 28px 32px;
  height: 100px;
  flex: 50% 1 1;
}

.inner_box {
  background: white;
  width: 409px;
  position: relative;
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 13px;
} */

.left_content {
  width: 100%;
  display: flex;
  align-items: center;
}

.left_content span {
  display: block;
  margin-left: 10px;
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #0045ff;
  text-transform: uppercase;
}

.casting_line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0045ff;
  margin: 1em 0;
  padding: 0;
  width: 12%;
}

.casting_box {
  white-space: nowrap;
  overflow: auto;
  margin-left: 9%;
}
