html,
body {
  background-color: #000;
  color: #fff;
}

.main_container {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}

.trailer_moviebox {
  white-space: nowrap;
  overflow: auto;
  display: -webkit-box;
}

.trailer_moviebox__inner {
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  max-width: 50%;
}

.trailer_moviebox img {
  display: inline-block;
  width: 100%;
  height: 14.7rem;
  object-fit: cover;
}

.trailer_moviebox > div {
  margin-right: 10px;
}

.trailer_moviebox_imgloading {
  width: calc(50% - 0.7rem);
  height: 100px;
  float: left;
}

.trailer_moviebox_imgloading:first-child {
  margin-right: 1.4rem;
}

.inner_box {
  display: inline-grid;
  text-align: center;
  width: 8rem;
}

.inner_box p {
  font-size: 1.2rem;
  line-height: 1.3rem;
  white-space: normal;
}

.casting_photo_img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  max-width: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

.movie_detail__characters_container {
  padding: 0 2.9rem 1.6rem;
  color: #b5b5b5;
  line-height: 1.6rem;
}

.movie_detail__characters_container p {
  color: #fff;
}

.movie_detail__button_wrapper {
  width: 100%;
  padding: 5% 0;
  position: fixed;
  bottom: 0;
  text-align: center;
  transition: all ease-out 500ms;
}

.movie_detail__button_play {
  color: #000;
  background: #fff;
  padding: 2.5% 10%;
  border-radius: 5rem;
  display: inline-block;
}

.modal_container {
  width: 25rem;
  max-width: 100%;
}

.tooltipContent {
  padding: 2rem 0 0;
}

@media screen and (max-width: 960px) {
  .yearLine {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .yearLine {
    width: 20%;
  }
}
