.container {
  width: 100%;
  padding: 0 13px;
  overflow: hidden;
  box-sizing: border-box;
}

.box {
  width: 100%;
  border: 1px solid #5784ff;
  margin-top: 16px;
}

.inner_box {
  padding: 16px;
}

.inner_box p {
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.inner_box p:last-child {
  margin-top: 10px;
}

.inner_box span {
  font-weight: 600;
}

.synopsisPlaceholder {
  margin-bottom: 10px;
}

.synopsisPlaceholderDirector {
  margin-bottom: 0;
  display: inline-block;
}
