.container {
  width: 100%;
  padding: 1.6rem 1.3rem;
  overflow: hidden;
  box-sizing: border-box;
  color: #fff;
}

.expand_collapse {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogI2YwZjsKICAgICAgICBvcGFjaXR5OiAwOwogICAgICB9CgogICAgICAuY2xzLTIgewogICAgICAgIGZpbGw6ICM3MDcwNzA7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxnIGlkPSJDaGV2cm9uIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4KSByb3RhdGUoOTApIj4KICAgIDxyZWN0IGlkPSJGcmFtZSIgY2xhc3M9ImNscy0xIiB3aWR0aD0iMTAiIGhlaWdodD0iNiIvPgogICAgPHBhdGggaWQ9IlNoYXBlIiBjbGFzcz0iY2xzLTIiIGQ9Ik0xMCwxQTEsMSwwLDAsMCw4LjI5My4yOTNMNSwzLjU4NiwxLjcwNy4yOTNBMSwxLDAsMSwwLC4yOTMsMS43MDdsNCw0YTEsMSwwLDAsMCwxLjQxNSwwbDQtNEExLDEsMCwwLDAsMTAsMVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIgOCkgcm90YXRlKC05MCkiLz4KICA8L2c+Cjwvc3ZnPgo=) no-repeat center;
}

.inner_box {
  padding: 0 1.6rem;
}

.inner_box p {
  line-height: 1.4rem;
  margin: 0;
  padding: 0;
  height: 6rem;
}

.inner_box p.show {
  line-height: 1.4rem;
  margin: 0;
  padding: 0;
  height: auto;
}

.inner_box_header {
  height: 2.4rem;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
  font-variant-caps: all-petite-caps;
}

.inner_box_header span {
  display: inline-block;
  transform: translate(0, -10%);
}

.synopsis__info_icon {
  width: 10px;
  height: auto;
  margin-right: 0.8rem;
}

.synopsis__info_read_more {
  font-size: 0.8rem;
  vertical-align: sub;
  letter-spacing: 0.05rem;
  background: transparent;
  border: none;
  color: #b5b5b5;
}

.synopsisPlaceholder {
  margin-bottom: 1rem;
}

.synopsisPlaceholderDirector {
  margin-bottom: 0;
  display: inline-block;
}
