.container {
  width: 100%;
  padding: 0 13px;
  box-sizing: border-box;
}

.box {
  flex: 50% 1 1;
  position: relative;
}

.inner_box {
  background: rgba(2, 2, 2, 0.6);
  padding: 8px 25px 8px 4px;
  color: white;
  text-align: right;
  margin-top: 33px;
  margin-bottom: 50px;
  position: absolute;
  right: 54px;
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 15px;
  font-style: italic;
}

.inner_box p {
  margin: 0;
}

.inner_box span {
  font-weight: 600;
}

.photo_frame {
  width: 60px;
  height: 60px;
  background: white;
  position: absolute;
  top: 12px;
  right: 0;
  padding: 6px;
}

.photo_frame img {
  max-width: 100%;
  width: 100%;
}

.trailer_title {
  background: white;
  border: 1px solid #5784ff;
  position: absolute;
  bottom: 0;
  right: 48px;
  color: #5784ff;
  padding: 7px 10px 7px 28px;
  margin-bottom: 7px;
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 13px;
  letter-spacing: 2px;
  font-weight: 600;
}
