/* .trailer_box {
  padding: 0 28px 32px;
  height: 100px;
  position: relative;
  left: -13px;
}

.inner_box {
  background: white;
  width: 470px;
  position: relative;
}

.inner_box img:hover {
  cursor: pointer;
} */

.trailer_box {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
}

.trailer_title {
  background: white;
  border: 1px solid #5784ff;
  color: #5784ff;
  padding: 7px;
  margin-bottom: 7px;
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 2px;
  width: 143px;
  text-align: center;
  margin-top: 12px;
  text-transform: uppercase;
}
