@import '../variables.css';

.ui_input_datepicker__wrapper {
  margin-bottom: 3rem;
}

.ui_input_datepicker__label {
  color: #6f6f6f;
}

.ui_input_datepicker__component {
  margin-top: 0.5rem;
  background: none;
  padding: 1rem 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #1a202f;
  color: #fff;
  outline: none;
}

.ui_input_datepicker__container > div > div > div,
.ui_input_datepicker__container > div > div:nth-child(1) {
  width: 100%;
}

div.react-datepicker__input-container {
  width: 100%;
}
