@import '../variables.css';

.countDown__wrapper {
  position: relative;
  height: 100%;

  /* max-height: calc(100vh - 15rem); */
  background-color: black;
  color: white;
}

.countDown {
  text-align: center;
  vertical-align: middle;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startText {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}

@media (max-width: 900px) {
  .startText {
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .countDown__wrapper {
    position: relative;
    max-height: 100vh;
    background-color: black;
    color: white;
  }

  .mobileDays {
    margin-bottom: 0;
  }

  .startText {
    margin-bottom: 15px;
  }
}

.countDownMobile {
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.1em;
}
