/* NEW GRID STYLE BABE */

.content__grid_container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-gap: 0;
  grid-template-areas:
    'title title'
    'desc desc'
    'nav empty';
  grid-template-rows: 5fr 8fr 2fr;
  grid-template-columns: 1fr 1fr;
}

.content__grid_title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  padding: 5%;
}

.content__grid_nav {
  grid-area: nav;
  display: none;
}

.content__grid_desc {
  position: relative;
  grid-area: desc;
}

.content__grid_empty {
  grid-area: empty;
  display: none;
}

.content__grid_images,
.content__grid_images img {
  width: 100%;
  max-width: 100%;
}

.content__grid_background_images {
  position: absolute;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  z-index: 0;
}

.content__grid_see_more_wrapper {
  position: relative;
  text-align: center;
  transform: translateY(-175%);
  z-index: 2;
}

.content__grid_see_more_desktop {
  font-weight: bold;
  padding: 2.5% 10%;
  text-transform: uppercase;
}

.content__grid_see_more_desktop.black {
  border: 2px solid #000;
  color: #000;
}

.content__grid_see_more_desktop.white {
  border: 2px solid #fff;
  color: #fff;
}

.content__grid_see_more_mobile {
  font-weight: bold;
  padding: 2.5% 10%;
  border-radius: 3px;
  text-transform: uppercase;
}

.content__grid_see_more_mobile.black {
  background-color: #fff;
  color: #000;
}

.content__grid_see_more_mobile.white {
  background-color: #000;
  color: #fff;
}

/* Desktop style */

@media screen and (min-width: 768px) {
  .content__grid_container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-gap: 0;
    grid-template-areas:
      'nav title empty'
      'nav desc  empty';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 5fr 7fr;
  }

  .content__grid_nav {
    grid-area: nav;
    display: block;
  }

  .content__grid_empty {
    grid-area: empty;
    display: block;
  }

  .content__grid_see_more_wrapper {
    padding: 3.5% 5%;
    text-align: left;
    transform: translateY(0%);
  }
}

/* Mobile style */
@media screen and (max-width: 600px) {
  .content__grid_see_more_wrapper {
    transform: none;
    width: 100vw;
    position: fixed;
  }

  .content__grid_see_more_mobile {
    left: 50%;
    transform: translateX(-50%);
  }
}
