.placeholder__container {
  position: fixed;
  display: flex;
  flex-direction: column;

  /* justify-content: flex-end; */
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border-radius: 5px;
  margin: 0 auto;
}

.placeholder__fixed_container {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.placeholder__fixed_container h3 {
  color: #6f6f6f;
  font-size: 1.42rem;
}

.placeholder__carousel_margin div.slider-frame {
  margin: 0 !important;
}

@media screen and (max-width: 960px) {
  .placeholder__carousel_margin div.slider-frame {
    margin: 0 1rem !important;
  }

  .placeholder__fixed_container h3 {
    color: #6f6f6f;
    font-size: 15px;
    margin: 0 1rem;
  }
}

.placeholder {
  height: auto;

  /* width: 45vw; */
  border-radius: 0.25rem;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder img:global(.bannerImage) {
  position: relative;
  z-index: 1;
  opacity: 0;
}

.placeholder img:global(.bannerImage3d) {
  position: relative;
  z-index: 1;
  width: 45vw;
  opacity: 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
