.trailer_box {
  padding: 0.6rem 3rem 0.1rem 3rem;

  /* margin: 15px 0 20px; */
  height: auto;
  position: relative;
  left: -13px;
  left: -1.3rem;
}

.inner_box {
  background: white;
  width: 47rem;
  position: relative;
}

.inner_box img:hover {
  cursor: pointer;
}
