.headerNone {
  display: none;
}

.headerDisplay {
  display: block;
}

.wrapper {
  background-image: url('https://wallpapercave.com/wp/1mQZjV4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0 0 245px;
  height: calc(100vh - 180px);
  overflow-y: hidden;
}

.containerOuter {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.containerInner {
  overflow-y: auto;
  width: 100%;
  padding-right: 20px;
  margin: 0 auto;
  height: calc(100vh - 76px);
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 180px 0 0 225px;
    height: calc(100vh - 180px);
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding: 180px 0 0 0;
    height: calc(100vh - 180px);
  }

  .containerOuter {
    width: auto;
  }
}
