.placeholder__header {
  position: absolute;
}

.placeholder__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border-radius: 5px;
  margin: 0 auto;
}

.placeholder__title {
  position: fixed;
  top: 0;
  width: 50vw;
  margin: 10% 40% 15% 12.5%;
  display: inline-block;
}

.placeholder__title .placeholder__line {
  display: block;
  width: 30%;
  height: 2rem;
}

.placeholder__detail {
  position: fixed;
  top: 40%;
  width: 50vw;
  margin-left: 12.5%;
  display: inline-block;
}

.placeholder__detail div:nth-child(1) {
  display: block;
  width: 60%;
  height: 4.6rem;
}

.placeholder__detail div:nth-child(2) {
  display: block;
  width: 32%;
  height: 2rem;
  margin-top: 5rem;
}

.placeholder__detail div:nth-child(3) {
  display: block;
  width: 60%;
  height: 73.6px;
  height: 2rem;
}

.placeholder__detail div:nth-child(4) {
  display: block;
  width: 45%;
  height: 2rem;
}

.placeholder__detail div:nth-child(5) {
  display: block;
  width: 25%;
  height: 2rem;
}

.placeholder__detail div:nth-child(6) {
  display: inline-block;
  width: 11%;
  height: 4.6rem;
}

.placeholder__detail div:nth-child(7) {
  display: inline-block;
  width: 38%;
  height: 4.6rem;
}

.placeholder__detail div:nth-child(8) {
  display: inline-block;
  width: 52%;
  margin-top: 2rem;
}

.placeholder__detail div:nth-child(9) {
  display: inline-block;
  width: 39%;
}

.placeholder__detail div:nth-child(10) {
  display: inline-block;
  width: 86%;
}

.placeholder__detail div:nth-child(11) {
  display: inline-block;
  width: 97%;
}

.placeholder__detail div:nth-child(12) {
  display: inline-block;
  width: 17%;
}

.placeholder__detail div:nth-child(13) {
  display: inline-block;
  width: 41%;
}

.placeholder__detail div:nth-child(14) {
  display: inline-block;
  width: 29%;
}

.placeholder__detail div:nth-child(15) {
  display: inline-block;
  width: 98%;
  height: 0.6rem;
  margin-top: 2rem;
}

.placeholder__detail div:nth-child(16) {
  display: inline-block;
  width: 41%;
  height: 0.6rem;
}

.placeholder__detail div:nth-child(17) {
  display: inline-block;
  width: 7%;
  height: 0.6rem;
}

.placeholder__footer {
  position: fixed;
  width: 100%;
  padding: 4.5% 12.5%;
}

.placeholder__footer > div {
  display: inline-block;
  text-align: right;
  width: 10%;
  height: 1.5rem;
  transform: translateY(-1rem);
}

.placeholder__footer_arrow {
  float: right;
}

.placeholder__footer_arrow div:nth-child(1) {
  display: inline-block;
  text-align: right;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
}

.placeholder__footer_arrow div:nth-child(2) {
  display: inline-block;
  text-align: right;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
}

.placeholder__line {
  height: 1.2rem;
  margin: 1rem 0;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__side_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 13%;
}

.placeholder__dot {
  height: 1rem;
  width: 1rem;
  margin: 0.5rem 5rem;
  border-radius: 5rem;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__long_dot {
  height: 5rem;
  width: 0.7rem;
  margin: 0.5rem 5rem;
  border-radius: 5rem;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
