* {
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
  width: auto;
}

.profile__main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.profile__container {
  display: inline-block;
}

.profile__tabs_container {
  position: fixed;

  /* top: 35vh; */
  width: 20%;
  text-align: center;
  color: #a7a7a7;
  font-size: 34px;
  font-size: 2.125rem;
  font-weight: 300;
  z-index: 10;

  /* position: absolute;
  top: 15vh;
  width: 100%;
  text-align: center;
  color: #a7a7a7;
  font-size: 2.125rem;
  font-weight: 300;
  z-index: 10; */
}

.profile__contents_container {
  position: absolute;

  /* top: 25vh; */

  /* top: 20vh; */
  width: 100%;
  text-align: center;
  color: #a7a7a7;
  font-size: 2.125rem;
  font-weight: 300;
}

.profile__tabs_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 4rem;
  text-align: left;

  /* display: inline-block;
  width: 40%;
  text-align: left;
  border-bottom: 0.1rem solid #2b2b2b; */
}

.profile__contents_wrapper {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.profile__tabs_wrapper div {
  display: inline-block;
  padding: 1.6rem 2.8rem 1.6rem 0;
  margin-right: 1rem;
}

.profile__tabs_wrapper div:hover {
  color: #fff;
  cursor: pointer;
}

.active {
  color: #fff;
}

.profile__contents_dropdown {
  display: flex;
  position: fixed;

  /* bottom: 41rem; */
  z-index: 1;
  top: 10vh;
  padding: 0 0 0 2rem;
}

.profile__contents_dropdown_container {
  font-weight: normal;
  font-size: 15px !important;
  position: relative;
  top: 0;
}

/* mobile Styles */
@media screen and (min-width: 299px) and (max-width: 640px) {
  .profile__tabs_container {
    top: 10vh;
    text-align: center;
    font-size: 1rem;
  }

  .profile__contents_container {
    top: 10vh;
    text-align: center;
    font-size: 1rem;
  }

  .profile__tabs_wrapper,
  .profile__contents_wrapper {
    width: 100%;
    text-align: center;
  }

  .profile__tabs_wrapper div {
    display: inline-block;
    padding: 10px 20px 10px 10px;
    margin-right: 0;
  }
}
