.epg__logo__container {
  /* background-color: #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 14vh;
  padding-top: 3vh;
}

.epg__logo__wrapper {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  background-color: #f5f5f5;
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.epg__logo__img {
  width: 7.5rem;
  height: 7.5rem;
}

.see__detail__epg {
  /* background-color: #000000; */
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.see__detail__text {
  font-size: 20px;
  font-weight: 500;
  color: #f5f5f5;
  letter-spacing: 0.1rem;
}

.see__detail__arrow {
  width: 3rem;
  height: 3rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAB7gAAAe4BoWPTtwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABySURBVEiJ7ZBLDoAgDAXhYh5IDyDhBC5Z+rmr40ISCSEgpombzpK+dsgzRlGUfwEGiUxpyQIHN76S8zGzA7ZXsMXlExgLmSnOANYuQSIJPLhk5pL3petwQzKLHc8kaV3fa2lIgujPKxL545lEphZFec0FhgvHaFm/1ocAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 1366px) and (max-height: 657px) {
  .epg__logo__container {
    padding-top: 0;
  }

  .epg__logo__wrapper {
    width: 6rem;
    height: 6rem;
  }

  .epg__logo__img {
    width: 5.5rem;
    height: 5.5rem;
  }
}
