.resultRow {
  padding-bottom: 3.2rem;
  margin: 0;
  display: block;
}

.resultTitle {
  color: #bababa;
  font-size: 1.7rem;
  font-weight: normal;
  display: inline-block;
  padding-bottom: 2rem;
}

.resultTitleLoading {
  padding: 0;
  width: 150px;
  height: 1.7rem;
}

.resultContent {
  color: #fff;
  font-size: 1.6rem;
  font-weight: normal;
  display: block;
  width: 100%;
}

.resultChip {
  padding: 6px 35px 6px 10px;
  margin: 0 15px 15px 0;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  background-color: #2b2b2b;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.resultChipLoading {
  padding: 0 35px 0 10px;
  margin: 0 15px 15px 0;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  background-color: #2b2b2b;
  width: 20%;
  height: 35px;
}

.resultChipText {
  color: #6f6f6f;
  cursor: pointer;
  padding: 6px 0;
}

.removeChip {
  position: absolute;
  top: auto;
  right: 8px;
}

.removeChip > i {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAxNCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2ZmZjt9LmJ7c3Ryb2tlOiMwMDA7c3Ryb2tlLXdpZHRoOjJweDt9PC9zdHlsZT48L2RlZnM+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTc2NCAtMjYzKSI+PGNpcmNsZSBjbGFzcz0iYSIgY3g9IjciIGN5PSI3IiByPSI3IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NjQgMjYzKSIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc2Ny41IDI2Ni41KSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSI+PHBhdGggY2xhc3M9ImIiIGQ9Ik03LDEuMDA5LDYuNTk0LjYsMy41LDMuNy40MDYuNiwwLDEuMDA5LDMuMDk0LDQuMSwwLDcuMi40MDYsNy42LDMuNSw0LjUwOSw2LjU5NCw3LjYsNyw3LjIsMy45MDYsNC4xWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMC42MDMpIi8+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.clearRecentSearch {
  position: relative;
  display: block;
  color: #bababa;
  float: right;
  font-size: 1.7rem;
  cursor: pointer;
}

.keywordResult {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .resultTitle {
    font-size: 1.4rem;
    padding-bottom: 15px;
  }

  .resultContent {
    padding: 0;
  }

  .clearRecentSearch {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 640px) {
  .resultTitle {
    font-size: 1.7rem;
    padding-bottom: 15px;
  }

  .resultContent {
    padding: 0;
    font-size: 1.2rem;
  }

  .resultChip {
    margin: 0 10px 8px 0;
    max-width: 160px;
  }

  .removeChip {
    top: 6px;
  }

  .removeChip > i {
    width: 16px;
    height: 16px;
  }
}

/* Big TV Styles */
@media screen and (min-height: 1801px) {
  .resultTitle {
    font-size: 2rem;
  }

  .resultContent {
    padding: 0;
    font-size: 1.5rem;
  }

  .resultChip {
    margin: 0 1rem 1rem 0;
    max-width: 600px;
    padding: 0.5rem 3rem 0.5rem 1rem;
  }

  .removeChip {
    top: 0.5rem;
    right: 0.5rem;
  }

  .removeChip > i {
    width: 1.8rem;
    height: 1.8rem;
  }

  .resultChipLoading {
    margin: 0 1rem 1rem 0;
    height: 2rem;
  }

  .resultTitleLoading {
    height: 2rem;
    width: 400px;
  }

  .clearRecentSearch {
    padding: 1rem 35px 1rem 1rem;
  }
}
