.resultTitle {
  color: #bababa;
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  flex: 1 0 160px;
}

.resultContent {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  display: block;
  width: 100%;
  padding-right: 130px;
}

.resultChip {
  padding: 6px 35px 6px 10px;
  margin: 0 15px 15px 0;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  background-color: #2b2b2b;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.resultChip > a {
  position: absolute;
  top: 7px;
  right: 8px;
}

.resultChip > a > i {
  background-image: url('../assets/ic_close@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.clearRecentSearch {
  padding: 6px 35px 6px 10px;
  margin: 0 15px 15px 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #bababa;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .resultTitle {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .resultContent {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .resultTitle {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .resultContent {
    padding: 0;
    font-size: 12px;
  }

  .resultChip {
    margin: 0 10px 8px 0;
    max-width: 160px;
  }

  .resultChip > a {
    top: 6px;
  }

  .resultChip > a > i {
    width: 16px;
    height: 16px;
  }
}
