.placeholder__watch__box {
  display: block;

  /* width: 95vw; */
  width: 100vw;
  height: 68vh;
  margin: 0 auto;

  /* border-radius: 5px; */
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__container__watch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5vh;
  border-radius: 5px;
  margin: 0 auto;
}

.placeholder__container__watch .placeholder__primary__watch {
  width: 30rem;
  height: 16rem;
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__container__watch .placeholder__primary__watch:nth-child(2n) {
  width: 70rem;
  height: 16rem;
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__container__watch .placeholder__primary__watch:nth-child(3n) {
  width: 30rem;
  height: 16rem;
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__filter__left {
  width: 25%;
}

.placeholder__filter__center {
  width: 50%;
}

.placeholder__filter__right {
  width: 25%;
}

.placeholder__line__left {
  height: 1.5rem;
  width: 90%;
  border-radius: 8px;
  animation: pulse 2s infinite ease-in-out;
  margin-bottom: 1.5rem;
  margin-right: 15rem;
  margin-left: 11%;
}

.placeholder__filter__left .placeholder__line__left:nth-child(2n) {
  width: 82%;
}

.placeholder__filter__left .placeholder__line__left:nth-child(3n) {
  width: 63%;
}

.placeholder__filter__left .placeholder__line__left:nth-child(4n) {
  width: 82%;
}

.placeholder__line__center {
  height: 1.5rem;
  width: 68%;
  border-radius: 8px;
  animation: pulse 2s infinite ease-in-out;
  margin-bottom: 1.5rem;
  margin-left: 17%;
  margin-right: 17%;
}

.placeholder__filter__center .placeholder__line__center:nth-child(2n) {
  width: 55%;
  margin-left: 25%;
}

.placeholder__filter__center .placeholder__line__center:nth-child(3n) {
  width: 68%;
  margin-left: 17%;
}

.placeholder__filter__center .placeholder__line__center:nth-child(4n) {
  width: 55%;
  margin-left: 25%;
}

.placeholder__line__right {
  height: 1.5rem;
  width: 90%;
  border-radius: 8px;
  animation: pulse 2s infinite ease-in-out;
  margin-bottom: 1.5rem;
  margin-right: 6%;
}

.placeholder__filter__right .placeholder__line__right:nth-child(2n) {
  width: 82%;
  margin-left: 8%;
}

.placeholder__filter__right .placeholder__line__right:nth-child(3n) {
  width: 63%;
  margin-left: 27%;
}

.placeholder__filter__right .placeholder__line__right:nth-child(4n) {
  width: 82%;
  margin-left: 8%;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
