.placeholder__container {
  display: flex;
  padding-top: 6rem;
}

.placeholder__watch_box {
  display: inline-block;
  width: 100%;
  height: calc(88vh - 6rem);
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__watch_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  height: calc(88vh - 6rem);
}

.placeholder__long {
  width: 84%;
  height: 1.2rem;
  border-radius: 1rem;
  margin: 1rem 0;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__quarter_long {
  width: 66%;
  height: 1.2rem;
  border-radius: 1rem;
  margin: 1rem 0;
  animation: pulse_74 2s infinite ease-in-out;
}

.placeholder__medium {
  width: 59%;
  height: 1.2rem;
  border-radius: 1rem;
  margin: 1rem 0;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__quarter_short {
  width: 33%;
  height: 1.2rem;
  border-radius: 1rem;
  margin: 1rem 0;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__short {
  width: 25%;
  height: 1.2rem;
  border-radius: 1rem;
  margin: 1rem 0;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__cast {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  margin: 0 1rem 1rem 0;
  animation: pulse 2s infinite ease-in-out;
}

.placeholder__cast_121 {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  margin: 0 1rem 1rem 0;
  animation: pulse_121 2s infinite ease-in-out;
}

.placeholder__cast_74 {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  margin: 0 1rem 1rem 0;
  animation: pulse_74 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes pulse_121 {
  0% {
    background-color: rgba(121, 121, 121, 0.1);
  }

  50% {
    background-color: rgba(121, 121, 121, 0.3);
  }

  100% {
    background-color: rgba(121, 121, 121, 0.1);
  }
}

@keyframes pulse_74 {
  0% {
    background-color: rgba(74, 74, 74, 0.1);
  }

  50% {
    background-color: rgba(74, 74, 74, 0.3);
  }

  100% {
    background-color: rgba(74, 74, 74, 0.1);
  }
}
