@import '../variables.css';

.ui_select__wrapper {
  margin-bottom: 4rem;
}

.ui_select__label {
  color: #6f6f6f;
  font-weight: lighter;
}

.ui_select__component {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background: #343434;
  border-radius: 0.4rem;
  color: #fff;
  margin-top: 0.5rem;
}
