.match_ligaType {
  grid-column-gap: 1rem;
  background-color: #313131;
  position: sticky;
  top: 6rem;
  z-index: 1;
  height: 5rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* overflow: hidden; */

  /* overflow: auto; */
  white-space: nowrap;
}

.allFilterLabel {
  text-align: right;
  color: #a7a7a7;
  padding: 1.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.filLeague {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;

  /* padding: 1rem 24rem 1rem 23rem; */

  /* padding: 1rem 9rem 1rem 9rem; */
}

.tourPlaylist {
  display: flex;

  /* padding: 1rem 50px; */
}

.playlist_all {
  margin: 1rem 1rem 1rem 1rem;
}

.contentLogoAndName {
  display: flex;
  margin: 0 1rem 0 1rem;
  align-items: center;
  cursor: pointer;
}

.img__container {
  border-radius: 8rem;
  width: auto;
  height: 3rem;
}

.img {
  width: auto;
  height: 3rem;
  margin: 0;
  display: inline-block;
}

.selected_playlist {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-align: right;
  margin: 1rem 1rem 1rem 1rem;
}

.playlist__container {
  cursor: pointer;
  font-size: 1.1rem;
  color: #a7a7a7;
  text-align: right;
  margin: 1rem 1rem 1rem 1rem;
}

.hidePlaylist {
  opacity: 0;
}

.showPlaylist {
  opacity: 1;
}

.league__wrapper {
  /* width: 100%; */
  overflow: hidden;
}

.league__wrapper_scroller {
  display: flex;
  overflow-x: auto;
  height: calc(100% + 30px);
}

.genre__wrapper {
  width: calc(100% + 20px);
  line-height: 1.25;
}
