.match_ligaType {
  grid-column-gap: 1rem;
  background-color: #313131;
  position: sticky;
  top: 6rem;
  z-index: 1;
  height: 5.5rem;
  margin-top: 3rem;

  /* overflow: hidden; */

  /* overflow: auto; */
  white-space: nowrap;
}

.allFilterLabel {
  text-align: right;
  color: #a7a7a7;
  padding: 1.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.filLeague {
  display: flex;
  justify-content: center;
  padding: 1rem 19rem 1rem 19rem;
}

.playlist_all {
  margin: 2rem;
}

.contentLogoAndName {
  display: flex;
  margin: 0 1.5rem 0 1.5rem;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
}

.img__container {
  border-radius: 8rem;
  width: auto;
  height: 3rem;
}

.img {
  width: auto;
  height: 3.5rem;
  margin: 0;
  display: inline-block;
  opacity: 0.5;
}

.selected_img {
  opacity: 1;
}

.img:hover {
  opacity: 1;
}

.selected_playlist {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: right;
  margin: 1rem 2.5rem 1rem 1rem;
}

.playlist__container {
  cursor: pointer;
  font-size: 1.5rem;
  color: #a7a7a7;
  text-align: right;
  margin: 1rem 2.5rem 1rem 1rem;
}

.hidePlaylist {
  opacity: 0;
}

.showPlaylist {
  opacity: 1;
}

.league__wrapper {
  width: 100%;
  overflow: hidden;
}

.league__wrapper_scroller {
  display: flex;
  overflow-x: auto;
  height: calc(100% + 30px);
  overflow-y: hidden;
}

.genre__wrapper {
  width: calc(100% + 20px);
  line-height: 1.25;
}

.btnPrevHori {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTt9LmJ7ZmlsbDpncmF5O30uY3tjbGlwLXBhdGg6dXJsKCNhKTt9LmR7ZmlsbDojZmZmO308L3N0eWxlPjxjbGlwUGF0aCBpZD0iYSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSI3IiBoZWlnaHQ9IjE0Ii8+PC9jbGlwUGF0aD48L2RlZnM+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUxMiAxMzkpIHJvdGF0ZSgxODApIj48Y2lyY2xlIGNsYXNzPSJiIiBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1MTIgMTM5KSByb3RhdGUoMTgwKSIvPjxnIGNsYXNzPSJjIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDkzIDExNikiPjxwYXRoIGNsYXNzPSJkIiBkPSJNMjUzLjgtOTdsLTIuNzQ3LDYuMDE0YS42OTEuNjkxLDAsMCwwLC40MzUuOTA4aDBhLjk5Ljk5LDAsMCwwLDEuMTI4LS4yNUwyNTgtOTdsLTUuMzg0LTYuNjczYS45OS45OSwwLDAsMC0xLjEyOC0uMjVoMGEuNjkxLjY5MSwwLDAsMC0uNDM1LjkwOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yNTEgMTA0KSIvPjwvZz48L2c+PC9zdmc+);
  width: 4rem;
  height: 4rem;
  background-size: 1.7rem 1.7rem;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  visibility: hidden;

  /* position: relative;
  top: calc(50% - 10px); */
}

.btnNextHori {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTt9LmJ7ZmlsbDpncmF5O30uY3tjbGlwLXBhdGg6dXJsKCNhKTt9LmR7ZmlsbDojZmZmO308L3N0eWxlPjxjbGlwUGF0aCBpZD0iYSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSI3IiBoZWlnaHQ9IjE0Ii8+PC9jbGlwUGF0aD48L2RlZnM+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE0ODAgLTEwNykiPjxjaXJjbGUgY2xhc3M9ImIiIGN4PSIxNiIgY3k9IjE2IiByPSIxNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUxMiAxMzkpIHJvdGF0ZSgxODApIi8+PGcgY2xhc3M9ImMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0OTMgMTE2KSI+PHBhdGggY2xhc3M9ImQiIGQ9Ik0yNTMuOC05N2wtMi43NDcsNi4wMTRhLjY5MS42OTEsMCwwLDAsLjQzNS45MDhoMGEuOTkuOTksMCwwLDAsMS4xMjgtLjI1TDI1OC05N2wtNS4zODQtNi42NzNhLjk5Ljk5LDAsMCwwLTEuMTI4LS4yNWgwYS42OTEuNjkxLDAsMCwwLS40MzUuOTA4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI1MSAxMDQpIi8+PC9nPjwvZz48L3N2Zz4=);
  width: 4rem;
  height: 4rem;
  background-size: 1.7rem 1.7rem;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  visibility: hidden;

  /* position: relative;
  top: calc(50% - 10px); */
}

.btnPrevContainer {
  width: 4rem;
  height: 4rem;
  padding-top: 0.8rem;
}

.btnNextContainer {
  width: 4rem;
  height: 4rem;
  padding-left: 2rem;
  padding-top: 0.8rem;
}

.tooltipContainer {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.tooltipContainer::-webkit-scrollbar {
  display: none;
}

.p {
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

.blueTooltip {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  color: white !important;
  background-color: #2c56ff !important;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.16) !important;
  opacity: 1 !important;
}

.blueTooltip:global(.__react_component_tooltip.type-dark.place-bottom)::after {
  border-bottom-color: #2c56ff;
}
