/* stylelint-disable */
.home__arrow {
  font-family: slick;
  position: absolute;
  top: 89.25vh;
  width: 40px;
  height: 40px;
  z-index: 99;
  outline: none;
  padding-top: 18px;
  transform: translate(0, 5%);
}

.home__arrow_next::before,
[dir=rtl] .home__arrow_prev::before {
  content: '›';
}

.home__arrow_prev::before {
  content: '‹';
}

.home__arrow_next::before,
.home__arrow_prev::before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home__arrow_next,
.home__arrow_prev {
  display: block;
  position: absolute;
  color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: 0;
  font-size: 0;
  line-height: 0;
  background: 0 0;
  width: 20px;
  height: 20px;
  z-index: 99;
  transition: all 150ms ease;
}
