body {
  background: black;
}

div#movie_player {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: black;
}

.no_video {
  color: white;
  font-size: 2.5rem;
}

.novid_btn {
  border: 1px solid white;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  color: white;
  width: 10rem;
}
