.card {
  margin-bottom: -10px;
  margin-right: -10px;
  width: 100%;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;

  /* display: inline-block; */
}

.card img {
  /* width: 100%; */
  width: 100%;
  height: auto;
}

.card__title {
  color: #000;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}
