.header {
  position: relative;
  height: 12rem;
  margin-top: 2rem;
  display: flex;
  align-items: baseline;
}

@media only screen and (max-device-width: 720px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    position: relative;
    height: 66px;
    margin: 0;
  }
}
