:root {
  overflow: auto;
}

.main_container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;

  /* padding: 0 10px; */
  box-sizing: border-box;
}

.card_container {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.card_wrapper {
  padding: 3%;
  width: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: rgba(0, 0, 0, 0.9);
}

.errorImage {
  width: 30rem !important;
}

@media screen and (min-width: 299px) and (max-width: 640px) {
  .card_wrapper {
    padding: 2rem 0;
  }
}
