.matchList__container {
  color: white;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  height: 17rem;
  width: 82rem;
  justify-content: flex-start;
  margin-top: 10px;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: auto;
}

.matchList__date {
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 5px;
  width: 138px;
  background-color: #2c2c2c;
  position: relative;
}

.matchList__live_now {
  background-color: #12128b;
}

.matchList__matches {
  display: flex;
  padding: 10px;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #191919;
}

.matchList__container:hover {
  transition: transform 0.3s, -webkit-transform 0.3s;
  transform: scale(1.1);
  opacity: 0.9;
}

.pointer {
  cursor: pointer;
}

.matchList__league_logo {
  /* align-self: flex-end; */
  right: 10px;
  bottom: 10px;
  width: 3.2rem;
}

.matchList__club {
  height: 8rem;
  align-items: center;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
}

.matchList__club img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  object-position: center;
}

.matchList__club span {
  align-self: center;
  padding-left: 10px;
  font-size: 1.6rem;
}

.matchList__scoring {
  text-align: right;
  font-size: 1.5rem;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.matchList__leagueImg {
  position: absolute;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  bottom: 0;
}

.matchList__labelDate {
  padding-right: 24px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.matchList__NoHomeAwayTeam {
  display: flex;
  height: 6rem;
  margin: 3rem 1rem 3rem 1rem;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.channel__display__duration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.channel__duration__text {
  font-size: 12px;
  color: #f5f5f5;
  font-weight: 300;
  padding-left: 10px;
}

.noMatchesInfo {
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .matchList__container {
    height: 12rem;
    width: 100%;
  }

  .matchList__club {
    height: 5rem;
  }

  .matchList__club img {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 640px) {
  .matchList__container {
    height: 130px;
  }

  .matchList__date {
    padding: 5px;
    width: 5.5rem;
    background-color: #383838;
  }

  .matchList__live_now {
    background-color: #0d2caa;
  }

  .matchList__NoHomeAwayTeam {
    display: flex;
    height: auto;
    margin: 0;
    font-size: 14px;
  }

  .matchList__labelDate {
    font-weight: normal;
    font-size: 14px;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
  }

  .matchList__club {
    height: 55px;
    align-items: center;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
  }

  .matchList__club img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    object-position: center;
  }

  .matchList__club span {
    font-size: 12px;
    font-weight: bold;
  }

  .matchList__leagueImg {
    position: absolute;
    margin: 0;
    bottom: 0;
  }

  .matchList__league_logo {
    right: 0;
    bottom: 0;
    width: 20px;
  }

  .channel__duration__text {
    padding-left: 0;
  }
}
