.root {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  animation: slideInUp 300ms;
}

.rootClose {
  animation: slideInDown 300ms;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #bababa;
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes slideInUp {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 100%;
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    height: 100%;
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}
