/* stylelint-disable */

/* slick dots - start */
.home__slick_dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.home__slick_dots {
  position: absolute;
  display: block;
  padding: 0;
  transition: all 150ms ease;
}

.home__slick_dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.home__slick_dots li button::before {
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: #000;
}

.home__slick_dots li button::before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home__slick_dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.home__slick_dots li button:focus,
.home__slick_dots li button:hover {
  outline: 0;
}

.home__slick_dots li button:focus::before,
.home__slick_dots li button:hover::before {
  opacity: 1;
}

.home__slick_dots li:global(.slick-active) button::before {
  opacity: 1;
}

.home__white,
.home__dark {
  top: 89.25vh;
  left: 0;
  right: 0;
  font-size: 14px;
}

.home__white,
.home__white li,
.home__white li button,
.home__white li button::before {
  color: white;
  margin: 0;
}

.home__dark,
.home__dark li,
.home__dark li button,
.home__dark li button::before {
  color: black;
  margin: 0;
}

.home__white li:global(.slick-active) button::before {
  color: white;
  margin: 0;
}

.home__dark li:global(.slick-active) button::before {
  color: black;
  margin: 0;
}

/* slick dots - end */
