body {
  margin: 0;
  background: linear-gradient(180deg, #0e1d3d 0%, #000 100%);
}

.wrap {
  display: flex;
}

.colItem {
  height: 100vh;
}

.sidebarMenu {
  width: 20%;
}

.inboxList {
  background: #000;
  width: 35%;
}

.menuWrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.menuWrapper li {
  position: relative;
  padding-left: 25%;
}

.menuWrapper li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1.5rem;
}

.menuWrapper li::before {
  position: absolute;
  content: '';
  height: 2px;
  background: #fff;
  width: 20%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.inboxDetail {
  width: 45%;
}
