.placeholder__container {
  color: white;
  display: grid;
  grid-gap: 3rem;
  column-gap: 1.5rem;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 0.73fr);
  padding-top: 130px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.placeholder__box {
  height: 16rem;
  width: 30rem;
  border-radius: 8px;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
