.swicth_channels__grid_item {
  color: white;
}

html,
body {
  background: linear-gradient(to bottom, #636363 0%, #000 100%);
}

.swicth_channels__grid_item_movie {
  grid-area: 3/2;
}

.swicth_channels__grid_item_sport {
  grid-area: 3/3;
}

.swicth_channels__grid_item_entertainments {
  grid-area: 3/4;
}

.swicth_channels__grid_item_series {
  grid-area: 3/5;
}

.swicth_channels__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  color: white;
  text-align: center;
}

.switch_channels__movies_img {
  width: 14rem;
}

.switch_channels__sports_img {
  width: 14rem;
}

.switch_channels__entertainments_img {
  width: 14rem;
}

.switch_channels__series_img {
  width: 14rem;
}

.swicth_channels__grid_item_movie > span {
  font-size: 1.6rem;
  font-weight: bold;
}

.swicth_channels__grid_item_sport > span {
  font-size: 1.6rem;
  font-weight: bold;
}

.swicth_channels__grid_item_entertainments > span {
  font-size: 1.6rem;
  font-weight: bold;
}

.swicth_channels__grid_item_series > span {
  font-size: 1.6rem;
  font-weight: bold;
}

.swicth_channels__grid_item_movie > div {
  margin-bottom: 1rem;
}

.swicth_channels__grid_item_sport > div {
  margin-bottom: 1rem;
}

.swicth_channels__grid_item_entertainments > div {
  margin-bottom: 1rem;
}

.swicth_channels__grid_item_series > div {
  margin-bottom: 1rem;
}
