@import '../variables.css';

.default,
.primary {
  padding: 1.5rem 0.8rem;
  width: 100%;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-top: 1rem;
  border: 0;
  font-size: 1.4rem;
}

.default {
  color: #fff;
  background: #2c56ff;
}

.default:hover {
  background: rgb(66, 104, 255);
}
