.genreContainer {
  padding-top: 100px;
  margin: 0 auto;
  width: 65%;
}

.genreLink {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 0;
  text-align: center;
}

.genreLink span {
  background: none;
  font-size: 20px;
  color: white;
  outline: none;
}

.genreContainer .genreSplit {
  display: inline-block;
  width: 10%;
}

.genreText__mobileLoading {
  margin: 0 auto 10px;
  width: 40%;
  height: 20px;
}

.genreImgLoading {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 960px) {
  .genreContainer {
    width: 60%;
  }

  .genreLink span {
    display: block;
    height: auto;
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .genreContainer {
    padding-top: 70px;
  }

  .genreLink {
    padding: 8px 0;
  }

  .genreLink span {
    font-size: 20px;
  }

  .genreTextLoading {
    width: 60%;
  }
}
