/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  background: #000311;
}

/*
 * Remove outline on click / focus
 */

button:focus {
  outline: 0;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
}

/*
 * Remove the white border on lazyload
 */
img:not([src]) {
  visibility: hidden;
}

a {
  -webkit-tap-highlight-color: transparent;
}

/* mobile Styles */
@media screen and (min-width: 299px) and (max-width: 640px) {
  html {
    font-size: 82.5%;
  }
}

/* Mac Styles */
@media screen and (min-height: 1079px) and (max-height: 1439px) {
  html {
    font-size: 95%;
  }
}

/* Mac Styles */
@media screen and (min-height: 1440px) and (max-height: 1800px) {
  html {
    font-size: 125%;
  }
}

/* Big TV Styles */
@media screen and (min-height: 1801px) {
  html {
    font-size: 187.5%;
  }
}
