.resultRow {
  padding-bottom: 32px;
  margin: 0;
  display: flex;
}

.resultTitle {
  color: #bababa;
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  flex: 1 0 160px;
}

.resultTitleLoading {
  width: 80%;
  height: 22px;
}

.resultContent {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  display: block;
  width: 100%;
  padding-right: 130px;
}

.resultChip {
  padding: 6px 35px 6px 10px;
  margin: 0 15px 15px 0;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  background-color: #2b2b2b;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.resultChipLoading {
  padding: 6px 35px 6px 10px;
  margin: 0 15px 15px 0;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  background-color: #2b2b2b;
  width: 20%;
  height: 33px;
}

.resultChipText {
  color: #6f6f6f;
  cursor: pointer;
  padding: 6px 0;
}

.removeChip {
  position: absolute;
  top: 7px;
  right: 8px;
}

.removeChip > i {
  background-image: url('../../assets/ic_remove_black.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.clearRecentSearch {
  padding: 6px 35px 6px 10px;
  margin: 0 15px 15px 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #bababa;
  cursor: pointer;
}

.keywordResult {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .resultTitle {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .resultContent {
    padding: 0;
  }

  .clearRecentSearch__mobile {
    display: inline-block;
    float: right;
    color: #bababa;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .resultTitle {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .resultContent {
    padding: 0;
    font-size: 12px;
  }

  .resultChip {
    margin: 0 10px 8px 0;
    max-width: 160px;
  }

  .removeChip {
    top: 6px;
  }

  .removeChip > i {
    width: 16px;
    height: 16px;
  }
}
