.menu_wrapper {
  position: fixed;
  width: 5%;
  z-index: 3;
}

.menu_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.menu_content a {
  font-size: 1.4rem;
  height: 0.8rem;
  width: 0.8rem;
  margin: 1.8rem;
  border-radius: 50%;
  text-decoration: none;
  transition: 250ms ease-out;
  opacity: 0.4;
  display: block;
  color: inherit;
}

.menu_content a:hover {
  opacity: 1;
}

.menu_content a .menu_text {
  transform: translate(1.5rem, -0.4rem);
  letter-spacing: 0.15rem;
  opacity: 0;
}

.menu_content a.isActive,
.menu_content a.isActive .menu_text {
  opacity: 1;
  font-weight: bold;
}

.menu_content a:hover .menu_text {
  opacity: 1;
}

.isActive {
  transition: opacity 300ms ease-out;
  opacity: 1;
  z-index: 200;
}
