.footer__container {
  position: fixed;
  padding: 2rem;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.footer__container a {
  display: inline-block;
  color: #707070;
  margin: 1.2rem;
  font-size: 1.425rem;
}

.footer__container a:hover {
  color: #e8e8e8;
}

@media screen and (max-width: 864px) {
  .footer__container {
    padding: 0;
  }

  .footer__container a {
    font-size: 1rem;
  }
}
