.resultRowWrap {
  padding-bottom: 32px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.resultContent__movie {
  padding: 0 54px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  display: block;
  width: 100%;
}

.resultTitle {
  color: #bababa;
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  flex: 1 0 160px;
}

.movieBox {
  display: inline-table;
  width: calc(100% / 3);
  padding: 18px 0 0;
}

.movieBoxInner {
  display: block;
  margin: 0 auto;
}

.movieBoxInner > img {
  width: 270px;
  height: 170px;
}

.movieTitle {
  font-size: 12px;
  display: block;
  padding: 8px 30px 0 0;
  color: #6f6f6f;
}

.movieTitleResult {
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .movieBoxInner > img {
    width: 245px;
    height: 154px;
  }
}

@media screen and (max-width: 1024px) {
  .movieBoxInner > img {
    width: 205px;
    height: 128px;
  }
}

@media screen and (max-width: 960px) {
  .resultContent {
    padding: 0;
  }

  .movieBoxInner > img {
    width: 175px;
    height: 110px;
  }

  .resultRowWrap {
    display: block;
  }

  .resultContent__movieflex {
    width: 100%;
    overflow: hidden;
    margin-bottom: -15px; /* 30px */
    -webkit-column-count: 2;
    -webkit-column-gap: 15px; /* 30px */
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-gap: 15px; /* 30px */
    -moz-column-fill: auto;
    column-count: 2;
    column-gap: 15px; /* 30px */
    column-fill: auto;
  }

  .movieflex__moviebox {
    /* background-color: #fff;
    background-color: rgba( 255, 255, 255, .5 ); */
    margin-bottom: 15px; /* 30px */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
  }

  .movieflex__moviebox img {
    width: 100%;
    height: auto;
  }
}
