/*** Style for Tour Arrow Slider ***/
.placeholderTourSlideWrapper {
  display: block;
  position: fixed;
  width: 100vw;
  height: 33px;
  bottom: 4.25%;
  z-index: 99;
}

.placeholderTourSlide {
  width: 25%;
  height: 33px;
  float: right;
  margin-right: 3%;
}

.home__arrow {
  position: fixed;
  bottom: 4.25%;
  width: 40px;
  height: 40px;
  z-index: 99;
  outline: none;
  transform: translate(0, 5%);
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none !important;
}

.home__arrow_prev::before {
  content: '❮';
}

.home__arrow_next::before,
.home__arrow_prev::before {
  font-size: 1.1rem;
  line-height: 0.7;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home__arrow_next::before,
[dir=rtl] .home__arrow_prev::before {
  content: '❯';
}

.home__arrow_next,
.home__arrow_prev {
  display: block;
  color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: 0;
  font-size: 0;
  line-height: 0;
  background: 0 0;
  width: 2.25rem;
  height: 2.25rem;
  z-index: 99;
  transition: all 150ms ease;
}

.home__arrow_next {
  right: 5%;
  border-width: 0.12rem;
  border-radius: 50%;
  border-style: solid;
}

.home__arrow_prev {
  right: 16.5%;
  border-width: 0.12rem;
  border-radius: 50%;
  border-style: solid;
}

.home__arrow_next.white,
.home__arrow_prev.white {
  color: #fff;
  border-color: #fff;
}
