.ui_mobile_nav__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 3;
  background: #0e1d3d;
}

.ui_mobile_nav__header {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: end;
  background: #4d000000;
}

.ui_mobile_nav__title {
  color: #fff;
  font-size: 1.4rem;
}

.ui_mobile_nav_arrow_prev {
  padding-right: 1rem;
  cursor: pointer;
}

.ui_mobile_nav_arrow_prev::before {
  content: '❮';
  font-size: 1.4rem;
  line-height: 1.2;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
