.root {
  margin-bottom: 65px;
}

.container {
  clear: both;
}

.component {
  float: left;
  margin-right: 20px;
}

.component input {
  margin-right: 5px;
}

.component label {
  color: #fff;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.label {
  color: #6f6f6f;
}
