@import '../variables.css';

.ui_radio__container {
  clear: both;
}

.ui_radio__component {
  float: left;
  margin-top: 1rem;
  margin-right: 2rem;
}

.ui_radio__component input {
  margin-right: 0.5rem;
}

.ui_radio__component label {
  color: #fff;
  cursor: pointer;
  position: relative;
  top: 0.2rem;
  font-size: 1.4rem;
}

.ui_radio__label {
  color: #6f6f6f;
}

.ui_radio__radioLongDesc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.ui_radio__componentItem {
  width: 50%;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .ui_radio__componentItem {
    width: 100%;
  }
}

.ui_radio__componentItem label {
  display: flex;
  margin-bottom: 1.5rem;
  cursor: pointer;
  font-size: 1.6rem;
}

@media only screen and (max-width: 1024px) {
  .ui_radio__componentItem label {
    margin-bottom: 0;
  }
}

.ui_radio__componentItem label div:nth-child(2) {
  margin-top: 0.1rem;
}

.ui_radio__componentItem label p {
  font-size: 1.2rem;
  padding: 0.8rem 0;
  color: #6f6f6f;
}
