.resultRow {
  padding-bottom: 32px;
  margin: 0;
  display: block;
}

.resultTitle {
  color: #bababa;
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  flex: 1 0 160px;
  padding-bottom: 15px;
}

.resultTitleLoading {
  width: 150px;
  height: 22px;
}

.resultContent {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  display: block;
  width: 100%;
  padding-right: 130px;
}

.resultChip {
  padding: 6px 35px 6px 10px;
  margin: 0 15px 15px 0;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  background-color: #2b2b2b;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #6f6f6f;
}

.resultChipLoading {
  padding: 0 35px 0 10px;
  margin: 0 15px 15px 0;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  background-color: #2b2b2b;
  width: 30%;
  height: 33px;
}

.removeChip {
  position: absolute;
  top: 7px;
  right: 8px;
}

.removeChip > i {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAxNCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2ZmZjt9LmJ7c3Ryb2tlOiMwMDA7c3Ryb2tlLXdpZHRoOjJweDt9PC9zdHlsZT48L2RlZnM+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTc2NCAtMjYzKSI+PGNpcmNsZSBjbGFzcz0iYSIgY3g9IjciIGN5PSI3IiByPSI3IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NjQgMjYzKSIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc2Ny41IDI2Ni41KSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSI+PHBhdGggY2xhc3M9ImIiIGQ9Ik03LDEuMDA5LDYuNTk0LjYsMy41LDMuNy40MDYuNiwwLDEuMDA5LDMuMDk0LDQuMSwwLDcuMi40MDYsNy42LDMuNSw0LjUwOSw2LjU5NCw3LjYsNyw3LjIsMy45MDYsNC4xWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMC42MDMpIi8+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.keywordResult {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .resultContent {
    padding: 0;
  }

  .clearRecentSearch {
    display: inline-block;
    float: right;
    color: #bababa;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .resultContent {
    padding: 0;
  }

  .resultChip {
    margin: 0 10px 8px 0;
    max-width: 160px;
  }

  .removeChip {
    top: 6px;
  }

  .removeChip > i {
    width: 16px;
    height: 16px;
  }
}
