.container {
}

.container span {
  color: #fff;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.5rem;
}

.animation_container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 2rem;
  height: 2rem;
}

.animation_container svg {
  position: absolute;
}

.animation_container i {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld0JveD0iMCAwIDIyIDIyIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDojMzMzO30uYntmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNDczIC04ODkpIj48Y2lyY2xlIGNsYXNzPSJhIiBjeD0iMTEiIGN5PSIxMSIgcj0iMTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0NzMgODg5KSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMjkuNDc3LDI2LjI4MSwyMi43NDMsMjIuNTRhMS4xMzQsMS4xMzQsMCwwLDAtMS42ODQuOTkydjcuNDgyQTEuMTM0LDEuMTM0LDAsMCwwLDIyLjc0MywzMmw2LjczMy0zLjc0MUExLjEzNCwxLjEzNCwwLDAsMCwyOS40NzcsMjYuMjgxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ1OS45NDEgODcyLjYwNCkiLz48L2c+PC9zdmc+');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.timeCount {
  transition: all 1s linear;
  stroke-linecap: round;
}
