.card__container {
  color: white;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;

  /* height: 123px; */
  height: 8rem;
  width: 22rem;
  justify-content: flex-start;
  margin-top: 10px;
}

.card__date {
  /* flex: 0.3; */
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 600;
  padding: 5px;
  width: 100px;
  background-color: #383838;
}

.card__live_now {
  background-color: #0d2caa;
}

.card__matches {
  /* flex: 0.7; */
  display: flex;
  padding: 10px;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #191919;
}

.card__league_logo {
  /* align-self: flex-end; */
  position: absolute;
  right: 16px;
  bottom: 3px;
  width: 1.6rem;

  /* width: 2rem; */
  opacity: 0.45;
}

.card__club {
  display: flex;
  height: 2.6rem;
  margin-bottom: 15px;
  align-items: center;
  font-size: 1rem;
  font-weight: normal;
}

.card__club img {
  width: 2.3rem;
  height: 2.3rem;
  object-fit: cover;
  object-position: center;
}

.card__club span {
  align-self: center;
  padding-left: 10px;
  font-size: 1.1rem;
}

.card__single_title {
  display: flex;
  height: 100%;
  align-items: center;
}

.card__leagueImg {
  position: absolute;
  margin: 5.5rem 0.5rem 0.5rem 3rem;

  /* bottom: 0; */
}

.card__scoring {
  text-align: right;
  font-size: 1.5rem;
}

.card__dateLabel {
  font-weight: normal;
}
