@import '../variables.css';

.ui_checkbox__container {
  clear: both;
}

.ui_checkbox__component {
  float: left;
  margin-top: 1rem;
  margin-right: 2rem;
}

.ui_checkbox__component input {
  margin-right: 0.5rem;
}

.ui_checkbox__component label {
  color: #fff;
  cursor: pointer;
  position: relative;
  top: 0.2rem;
}

.ui_checkbox__label {
  color: #6f6f6f;
}

.ui_checkbox__radioLongDesc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.ui_checkbox__componentItem {
  flex: 50%;
  color: #fff;
  cursor: pointer;
}

.ui_checkbox__componentItem label {
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
}

.ui_checkbox__componentItem label div:nth-child(2) {
  margin-top: 0.1rem;
}

.ui_checkbox__componentItem label p {
  font-size: 1rem;
  color: #6f6f6f;
}
