/* stylelint-disable */

.home__arrow {
  font-family: slick;
  position: fixed;
  bottom: 0;
  width: 40px;
  height: 40px;
  z-index: 99;
  outline: none;
  visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none !important;
}

/* available chevrons
‹›〈〉❬❭❮❯❰❱
*/
.home__arrow_next::before,
[dir='rtl'] .home__arrow_prev::before {
  content: '❯';
}

.home__arrow_prev::before {
  content: '❮';
}

.home__arrow_next::before,
.home__arrow_prev::before {
  font-size: 0.85rem;
  line-height: 1.1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home__arrow_next,
.home__arrow_prev {
  display: block;

  /* position: absolute; */
  color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 7%;
  outline: 0;
  font-size: 0;
  line-height: 0;
  background: 0 0;
  width: 2.25rem;
  height: 2.25rem;
  z-index: 99;
  transition: all 150ms ease;
}

.home__arrow_next:hover,
.home__arrow_prev:hover,
.home__arrow_next:focus,
.home__arrow_prev:focus {
  background: #fff;
}

.home__arrow_next {
  right: 0;
  border-width: 0.12rem;
  border-radius: 50%;
  border-style: solid;
}

.home__arrow_prev {
  right: 11.5%;
  border-width: 0.12rem;
  border-radius: 50%;
  border-style: solid;
}

.home__arrow_next.white,
.home__arrow_prev.white {
  color: #fff;
  border-color: #fff;
}

.home__arrow_next.white:hover,
.home__arrow_prev.white:hover {
  color: #000;
  background-color: #fff;
}
