/* stylelint-disable */

.home__arrow {
  font-family: slick;
  position: fixed;
  bottom: 4%;
  width: 40px;
  height: 40px;
  z-index: 99;
  outline: none;
  transform: translate(0, 5%);
  visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none !important;
}

/* available chevrons
‹›〈〉❬❭❮❯❰❱
*/
.home__arrow_next::before,
[dir=rtl] .home__arrow_prev::before {
  content: '❯';
}

.home__arrow_prev::before {
  content: '❮';
}

.home__arrow_next::before,
.home__arrow_prev::before {
  font-size: 1.1rem;
  line-height: 0.7;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home__arrow_next,
.home__arrow_prev {
  display: block;

  /* position: absolute; */
  color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: 0;
  font-size: 0;
  line-height: 0;
  background: 0 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 99;
  transition: all 150ms ease;
}

.home__arrow_next:hover,
.home__arrow_prev:hover,
.home__arrow_next:focus,
.home__arrow_prev:focus {
  background: #fff;
} 

.home__arrow_next {
  right: 5%;
  border-width: 0.12rem;
  border-radius: 50%;
  border-style: solid;
}

.home__arrow_prev {
  right: 16.5%;
  border-width: 0.12rem;
  border-radius: 50%;
  border-style: solid;
}

.home__arrow_next.white,
.home__arrow_prev.white {
  color: #fff;
  border-color: #fff;
}

.home__arrow_next.white:hover,
.home__arrow_prev.white:hover,
.home__arrow_next.white:focus,
.home__arrow_prev.white:focus {
  color: #000;
}

.home__arrow_next.dark,
.home__arrow_prev.dark {
  color: #000;
  border-color: #000;
}

.home__arrow_next.white:active,
.home__arrow_prev.white:active {
  color: #000;
  background-color: #fff;
}

.home__arrow_next.dark:active,
.home__arrow_prev.dark:active {
  color: #fff;
  background-color: #000;
}
