/* stylelint-disable */
.header_menu_item_inner {
  color: white;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  width: 25%;
  height: 20px;
  display: inline-block;
}

.header_menu_outer {
  width: auto;
  white-space: nowrap;
}

.header__menu {
  margin-right: 2.5%;
  font-weight: 500;
}

.header__menu a {
  color: #808080;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  width: auto;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin: 0 11px;
  border: none;
  outline: 0;
  position: relative;
}

.header__menu a:hover {
  color: white;
  font-weight: bold;

  /* text-shadow: 0 0 .65px #fff, 0 0 .65px #fff; */
}

.header__menu a::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.header__menu a.header_menu__active {
  color: white;
  font-weight: bold;
}

.header__menu_icon_wrapper {
  width: 2.8rem;
  height: 2.8rem;
}

.header_menu_guide {
  color: #808080;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  width: 25%;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

.header_menu__action_dropdown {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: -1.7rem;
  top: 50%;
  transform: translateY(-45%);
  color: white;
}

/* popup menu style */
.popup__menu_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.95);
  color: #525252;
  font-size: 1rem;
  z-index: 10;
}

.popup__menu_header {
  height: 15%;
  width: 100vw;
  text-align: right;
  position: absolute;
  z-index: 2;
}

.popup__menu_close {
  margin: 1.6rem;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+Cjx0aXRsZT5BcnRib2FyZCAyPC90aXRsZT4KPHBhdGggZmlsbD0iI0I1QjVCNSIgZD0iTTI3LjU2LDI0bDcuMTgtOS4yMmExLjA4LDEuMDgsMCwwLDAtLjA1LTEuNDZoMGExLjA4LDEuMDgsMCwwLDAtMS40Ni0uMDVMMjQsMjAuNDRsLTkuMjItNy4xOGExLjA4LDEuMDgsMCwwLDAtMS40Ni4wNWgwYTEuMDgsMS4wOCwwLDAsMC0uMDUsMS40NkwyMC40NCwyNGwtNy4xOCw5LjIyYTEuMDgsMS4wOCwwLDAsMCwuMDUsMS40NmgwYTEuMDgsMS4wOCwwLDAsMCwxLjQ2LjA1TDI0LDI3LjU2bDkuMjIsNy4xOGExLjA4LDEuMDgsMCwwLDAsMS40Ni0uMDVoMGExLjA4LDEuMDgsMCwwLDAsLjA1LTEuNDZaIi8+Cjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: contain;
}

.popup__menu_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #707070;
  z-index: 1;
}

.popup__menu_content a {
  color: #707070;
  margin: 1.2rem;
  font-size: 1.425rem;
}

.popup__menu_content a:hover {
  color: white;
  font-weight: 300;
}

.popup__menu_image_wrapper {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  box-shadow: 0 0 5rem 0.185rem rgba(255, 255, 255, 0.4);
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.48));
  padding: 0;
  margin: 1rem;
}

.popup__menu_image {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
}

.popup__menu_username {
  color: white !important;
  letter-spacing: 0.0425rem;
  font-weight: 400;
  font-size: 1.888rem !important;
  text-transform: capitalize;
}

.popup__menu_signout {
  color: rgba(44, 86, 255, 1) !important;
  font-size: 1.425rem !important;
  text-transform: uppercase;
  letter-spacing: 0.215rem !important;
}

.popup__menu_signout:hover {
  color: rgba(44, 86, 255, 0.7) !important;
}

.popup__menu_profile_container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* mobile Styles */
@media screen and (min-width: 299px) and (max-width: 640px) {
  .header__menu {
    left: 81px;
    top: 30px;
  }

  .header_menu_outer {
    width: auto;
  }

  .header_menu_dropdown_container {
    font-weight: bold;
    display: inline-block;
  }

  .header__menu_wrapper_m {
    display: flex;
  }

  .header__menu_wrapper_m a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
  }

  /* popup menu style */
  .popup__menu_content a {
    margin: 1rem;
    font-size: 0.825rem;
  }

  .popup__menu_content a:hover {
    font-size: 1.058rem !important;
    color: #fff;
  }

  .popup__menu_username {
    font-size: 1.388rem !important;
  }

  .popup__menu_signout {
    font-size: 0.825rem !important;
  }

  .popup__menu_image_wrapper {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
  }

  .popup__menu_image {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
  }

  .popup__menu_close {
    margin: 14px 14px;
    display: inline-block;
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 299px) and (max-width: 1024px) and (orientation: landscape) {
  .header__menu {
    left: 81px;
    top: 30px;
  }

  .header_menu_outer {
    width: auto;
  }

  .header_menu_dropdown_container {
    font-weight: bold;
    display: inline-block;
  }

  .header__menu_wrapper_m {
    display: flex;
  }

  .header__menu_wrapper_m a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
  }

  .header_menu_select_wrapper__ls {
    padding: 8px;
  }

  /* popup menu style */
  .popup__menu_content a {
    margin: 1rem;
    font-size: 0.825rem;
  }

  .popup__menu_content a:hover {
    font-size: 1.058rem !important;
    color: #fff;
  }

  .popup__menu_username {
    font-size: 1.388rem !important;
  }

  .popup__menu_signout {
    font-size: 0.825rem !important;
  }

  .popup__menu_image_wrapper {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
  }

  .popup__menu_image {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
  }
}

.header_menu_button > a {
  color: white;
}

@media screen and (min-width: 2000px) {
  .header__menu {
    left: 16rem;
  }
}
