@import '../../../global/style/css/reactReduxToastr.css';

@media (max-width: 481px) {
  html {
    font-size: 62.5% !important;
  }
}

.wrapper {
  --font-size-paragraph: 1.2rem;
  --margin-bottom: 15px;

  position: relative;
}

/* @media screen and (min-width: 768px) and (max-width: 1025px) {
  .wrapper {
    margin: auto;
    width: 50%;
  }
}

@media screen and (min-width: 1025px) {
  .wrapper {
    margin: auto;
    width: 30%;
  }
} */

.checkout_container {
  position: relative;
  display: flex;
  align-items: center;

  /* min-height: 70vh; */
  padding-top: 10rem;
  color: #fff;
}

.checkout__error_wrapper {
  position: fixed;

  /* bottom: 0; */
  top: 10rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout__error_wrapper p {
  font-size: 2rem;
  color: white;
}

.order__header_wrapper,
.order__footer_wrapper,
.order__content_wrapper {
  position: relative;
  width: 100%;
}

.order__header_wrapper,
.order__footer_wrapper {
  margin-bottom: 5rem;
}

.order__content_list {
  min-width: 30%;
  display: flex;
  flex-direction: column;

  /* min-width: 400px; */
  margin: auto;
  padding: 40px;
  padding: 2.5rem;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
  line-height: 24px;
  line-height: 1.5rem;
}

.order__content_title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  letter-spacing: 0.16rem;
  color: white;
  line-height: 3rem;
  text-align: center;
}

.order__content_list_price {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: auto;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
  background: rgba(32, 30, 30, 0.897);
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.order__content_list_price sup {
  font-size: 1.2rem;
}

.order__content_list_price_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* width: 100%; */
  padding: 1.5rem;
}

.order__content_list_price_title {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  margin: 0;
}

.order__content_list_price_title h1 {
  font-size: 1.6rem;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
}

.order__content_list_price_title h2 {
  font-size: 1.2rem;
  color: white;
}

.order__content_list_price_title a {
  margin: 0 1rem 0 0;
  font-size: 1.2rem;
  text-decoration: underline;
  color: #2242c4;
}

.order__content_list_price_title p {
  margin: 0 1rem 0 0;
  font-size: 1.1rem;
  color: #989898;
}

.order__content_list_price_count {
  display: flex;
  font-size: 2.5rem;
  padding: 2rem 0 2rem 2rem;
  color: #ffffffde;
}

.order__content_list_code {
  width: 100%;
  margin: auto;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
  background: rgba(32, 30, 30, 0.897);
  line-height: 1.5rem;
}

.order__content_list_code_wrapper {
  padding: 1rem;
}

.order__content_list_button {
  width: 100%;
  margin: auto;
  border-radius: 0.4rem;
  line-height: 1.5rem;
}

.order__content_list_code_text {
  color: #a7a7a7;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order__content_list_code_text_total {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order__content_list_code_input {
  color: #343434;
}

.order__content_list_divider {
  border-bottom: 1px solid #343434;
  margin: 2rem 0 2rem 0;
}

.order__content_list_code_input input {
  margin: 0 0 2rem 0;
  background: #343434;
  border-radius: 0.5rem;
  border-color: #343434;
  -webkit-box-shadow: #343434;
  box-shadow: #343434;
  height: 3rem;
  width: 100%;
  color: white;
  font-size: 1.4rem;
}

.order__content_list_info {
  color: #989898;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  line-height: 2rem;
}

.order__content_list_info a {
  color: #2c56ff;
  font-size: 1.2rem;
  cursor: pointer;
}

.order__content_submit {
  box-sizing: border-box;
  height: 5rem;
  width: 100%;
  background: #0d78b7;
  border: 0.1rem solid #373277;
  border-radius: 0.4rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.46rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.order__content_submit_false {
  opacity: 0.5;
  box-sizing: border-box;
  height: 5rem;
  width: 100%;
  background: #0d78b7;
  border: 0.1rem solid #373277;
  border-radius: 0.4rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.46rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.order__content_submit_disabled {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem 1.6rem;
  height: 5rem;
  width: 100%;
  background: #343434;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.46rem;
  cursor: pointer;
  letter-spacing: 0.191rem;
  font-weight: 500;
}

/* .order__content_submit:hover {
  background: #2242c4;
} */

.checkout_changePlan {
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-top: 0.1rem solid #3c3c3c99;
}

.checkout_changePlan a {
  font-size: 1.4rem;
  color: #0d78b7;
  cursor: pointer;
}

.checkout_item__title {
  font-size: 1.4rem;
  color: #989898;
  margin-bottom: 1rem;
  font-weight: normal;
}

.checkout_detail__wrapper {
  color: #fff;
}

.warning {
  padding: 1.2rem;
  background: #ad811e;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.warning > p {
  font-size: 1.4rem;
  line-height: 18px;
}

.detail_wrap {
  border-radius: 2px;
  background: #363636;
  color: #fff;
  margin-bottom: 2rem;
}

.checkout_item__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout_item__container {
  margin: 2rem;
}

.checkout_item__content {
  color: #fff;
  font-size: 1.8rem;
}

.checkout_item__action {
  border: 0;
  background: none;
  color: #0d78b7;
  cursor: pointer;
  font-size: 1.2rem;
}

.info_wrap {
  margin-bottom: 4rem;
}

.info_title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.gray_text {
  color: #989898;
  font-size: 1.2rem;
}

.btn_submit {
  box-sizing: border-box;
  width: 100%;
  background: #0d78b7;
  border: 0.1rem solid #373277;
  border-radius: 0.4rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.46rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 1.7rem 0;
}

/* .btn_submit:hover {
  background: #2242c4;
} */

.big_mb {
  margin-bottom: 3rem;
}

.big_mt {
  margin-top: 3rem;
}

.loading__ring {
  display: block;
  position: relative;
  width: 52px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  bottom: 50%;
}

.loading__ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 11px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: loading__ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loading__ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading__ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading__ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.order__content_checkbox {
  display: flex;
  margin: 0 1rem 0 1rem;
  flex-direction: column;
}

.order__content_checkbox_text {
  text-align: left;
  color: #989898;

  /* margin-left: 32px; */

  /* margin-left: 2rem; */
  margin: 0 0.8rem 0 0.8rem;
  width: 100%;
}

.order__content_checkbox_list {
  display: flex;
  flex-direction: initial;
  margin-bottom: 1.6rem;
}

@keyframes loading__ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading__page {
  width: 100%;
  height: 92%;
}

@media only screen and (max-width: 481px) {
  .checkout__error_wrapper p {
    font-size: 1.6rem;
  }

  .checkout_container {
    padding-top: 8.1rem;
  }

  .order__content_list {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

@media only screen and (min-width: 360px) {
  .order__content_list_price_title h1 {
    font-size: 14px;
    color: #ffffffde;
    font-weight: bold;
  }

  .order__content_list_price_count {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .order__content_list {
    width: 48rem;
  }
}
