:global(.animated) {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

:global(.animated):global(.bounceIn) {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

:global(.animated):global(.bounceOut) {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

:global(.animated):global(.bounceIn) {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

:global(.animated):global(.bounceOut) {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

:global(.animated):global(.fadeIn) {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

:global(.animated):global(.fadeOut) {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

:global(.animated):global(.bounceInDown) {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

:global(.animated):global(.bounceOutUp) {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: perspective(1px) scale3d(0.3, 0.3, 0.3);
    transform: perspective(1px) scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: perspective(1px) scale3d(1.1, 1.1, 1.1);
    transform: perspective(1px) scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: perspective(1px) scale3d(0.9, 0.9, 0.9);
    transform: perspective(1px) scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: perspective(1px) scale3d(1.03, 1.03, 1.03);
    transform: perspective(1px) scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: perspective(1px) scale3d(0.97, 0.97, 0.97);
    transform: perspective(1px) scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: perspective(1px) scale3d(1, 1, 1);
    transform: perspective(1px) scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: perspective(1px) scale3d(0.3, 0.3, 0.3);
    transform: perspective(1px) scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: perspective(1px) scale3d(1.1, 1.1, 1.1);
    transform: perspective(1px) scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: perspective(1px) scale3d(0.9, 0.9, 0.9);
    transform: perspective(1px) scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: perspective(1px) scale3d(1.03, 1.03, 1.03);
    transform: perspective(1px) scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: perspective(1px) scale3d(0.97, 0.97, 0.97);
    transform: perspective(1px) scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: perspective(1px) scale3d(1, 1, 1);
    transform: perspective(1px) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

:global(.rrt-confirm-holder) {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}

:global(.rrt-confirm-holder) :global(.shadow) {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 58, 68, 0.8);
}

:global(.rrt-confirm-holder) :global(.rrt-confirm) {
  width: 320px;
  background-color: white;
  position: absolute;
  z-index: 9;
  top: 20%;
  left: 50%;
  margin-left: -160px;
  box-shadow: 3px 3px 20px #333;
  border-radius: 4px;
  overflow: hidden;
}

:global(.rrt-confirm-holder) :global(.rrt-confirm) :global(.rrt-message) {
  width: 100%;
  padding: 5%;
  min-height: 50px;
  font-size: 1em;
  background-color: white;
  text-align: center;
  font-family: 'open-sanscondensed-light', sans-serif;
  clear: both;
}

:global(.rrt-confirm-holder) :global(.rrt-confirm) :global(.rrt-buttons-holder) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

:global(.rrt-confirm-holder) :global(.rrt-confirm) :global(.rrt-buttons-holder) :global(.rrt-button) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 50px;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  float: left;
  border-top: 1px solid #f0f0f0;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
}

:global(.rrt-confirm-holder) :global(.rrt-confirm) :global(.rrt-buttons-holder) :global(.rrt-button):hover {
  background-color: #f5f5f5;
}

:global(.rrt-confirm-holder) :global(.rrt-confirm) :global(.rrt-buttons-holder) :global(.rrt-button):global(.rrt-ok-btn):active {
  background-color: #60bb71;
  color: white;
}

:global(.rrt-confirm-holder) :global(.rrt-confirm) :global(.rrt-buttons-holder) :global(.rrt-button):global(.rrt-cancel-btn):active {
  background-color: #db6a64;
  color: white;
}

:global(.rrt-confirm-holder) :global(.rrt-confirm) :global(.rrt-buttons-holder) :global(.rrt-button):focus {
  outline: none;
}

body:global(.toastr-confirm-active) {
  overflow: hidden;
}

:global(.redux-toastr) *,
:global(.redux-toastr) *:before,
:global(.redux-toastr) *:after {
  box-sizing: border-box;
}

:global(.redux-toastr) :global(.top-left),
:global(.redux-toastr) :global(.top-right),
:global(.redux-toastr) :global(.top-center),
:global(.redux-toastr) :global(.bottom-left),
:global(.redux-toastr) :global(.bottom-right),
:global(.redux-toastr) :global(.bottom-center) {
  width: 350px;
  position: fixed;
  z-index: 99999999;
  padding: 0 10px;
}

:global(.redux-toastr) :global(.top-left),
:global(.redux-toastr) :global(.top-right),
:global(.redux-toastr) :global(.top-center) {
  top: 0;
}

:global(.redux-toastr) :global(.top-right),
:global(.redux-toastr) :global(.bottom-right) {
  right: 0;
}

:global(.redux-toastr) :global(.bottom-left),
:global(.redux-toastr) :global(.bottom-right),
:global(.redux-toastr) :global(.bottom-center) {
  bottom: 0;
}

:global(.redux-toastr) :global(.top-left),
:global(.redux-toastr) :global(.bottom-left) {
  left: 0;
}

:global(.redux-toastr) :global(.top-center),
:global(.redux-toastr) :global(.bottom-center) {
  left: 50%;
  margin-left: -175px;
}

@media (max-width: 320px) {
  :global(.redux-toastr) :global(.top-left),
  :global(.redux-toastr) :global(.top-right),
  :global(.redux-toastr) :global(.top-center),
  :global(.redux-toastr) :global(.bottom-left),
  :global(.redux-toastr) :global(.bottom-right),
  :global(.redux-toastr) :global(.bottom-center) {
    width: 320px;
  }

  :global(.redux-toastr) :global(.top-center),
  :global(.redux-toastr) :global(.bottom-center) {
    margin-left: -160px;
  }
}

:global(.redux-toastr) :global(.toastr) {
  background-color: #fcfcfc;
  width: 100%;
  min-height: 70px;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  color: #333;
  opacity: 0.94;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

:global(.redux-toastr) :global(.toastr):hover:not(:global(.rrt-message)) {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  opacity: 1;
}

:global(.redux-toastr) :global(.toastr) :global(.toastr-status) {
  width: 100%;
  height: 5px;
}

:global(.redux-toastr) :global(.toastr) :global(.toastr-status):global(.success) {
  background-color: #60bb71;
}

:global(.redux-toastr) :global(.toastr) :global(.toastr-status):global(.warning) {
  background-color: #f7a336;
}

:global(.redux-toastr) :global(.toastr) :global(.toastr-status):global(.info) {
  background-color: #58abc3;
}

:global(.redux-toastr) :global(.toastr) :global(.toastr-status):global(.error) {
  background-color: #db6a64;
}

:global(.redux-toastr) :global(.toastr) :global(.rrt-left-container),
:global(.redux-toastr) :global(.toastr) :global(.rrt-right-container) {
  float: left;
  text-align: center;
  overflow: hidden;
}

:global(.redux-toastr) :global(.toastr) :global(.rrt-left-container) {
  width: 80px;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
}

:global(.redux-toastr) :global(.toastr) :global(.rrt-left-container) :global(.rrt-holder) {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 5px;
  line-height: 60px;
}

:global(.redux-toastr) :global(.toastr) :global(.rrt-left-container) :global(.toastr-icon) {
  fill: white;
  vertical-align: middle;
  margin-top: 5px;
}

:global(.redux-toastr) :global(.toastr) :global(.rrt-middle-container) {
  width: 65%;
  margin-left: 80px;
  position: relative;
  float: left;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 1em;
  text-align: left;
  padding: 10px 5px;
}

:global(.redux-toastr) :global(.toastr) :global(.rrt-middle-container) :global(.rrt-title) {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

:global(.redux-toastr) :global(.toastr) :global(.rrt-right-container) {
  width: 10%;
}

:global(.redux-toastr) :global(.toastr) :global(.close-toastr) {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  font-size: 22px;
  border: none;
  outline: none;
  opacity: 0.5;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, Arial sans-serif;
}

:global(.redux-toastr) :global(.toastr) :global(.close-toastr):hover {
  opacity: 1;
}

:global(.redux-toastr) :global(.toastr) :global(.close-toastr):focus {
  outline: none;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-info),
:global(.redux-toastr) :global(.toastr):global(.rrt-success),
:global(.redux-toastr) :global(.toastr):global(.rrt-warning),
:global(.redux-toastr) :global(.toastr):global(.rrt-error) {
  color: white;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-info) {
  background-color: #58abc3;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-info) :global(.rrt-progressbar) {
  background-color: #378298;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-success) {
  background-color: #60bb71;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-success) :global(.rrt-progressbar) {
  background-color: #3e914d;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-warning) {
  background-color: #f7a336;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-warning) :global(.rrt-progressbar) {
  background-color: #d87e09;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-error) {
  background-color: #db6a64;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-error) :global(.rrt-progressbar) {
  background-color: #c5352e;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-light) :global(.rrt-progressbar) {
  background-color: #ccc;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-light) :global(.toastr-icon) {
  fill: #333 !important;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-message) {
  opacity: 1;
  border: 1px solid #dbdbdb;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-message) :global(.rrt-title) {
  width: 90%;
  height: 50px;
  text-align: center;
  overflow: hidden;
  font-size: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 50px;
  padding: 0 20px;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-message) :global(.rrt-text) {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  background-color: white;
  padding: 15px;
  font-size: 1.1em;
  margin-bottom: 20px;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-message) :global(.rrt-text) img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}

:global(.redux-toastr) :global(.toastr):global(.rrt-message) :global(.close-toastr) {
  height: 50px;
}

:global(.redux-toastr) :global(.toastr) :global(.rrt-progress-container) {
  height: 5px;
  margin: 0 -20px -20px -60px;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

:global(.redux-toastr) :global(.toastr) :global(.rrt-progress-container) :global(.rrt-progressbar) {
  border-radius: 0 0 0 4px;
  height: 100%;
}

:global(.redux-toastr) :global(.toastr-attention) {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
