.casting_photo_container {
  text-align: center;
  overflow: hidden;
  position: relative;
  top: 31px;
  height: 131px;
}

.casting_photo_container p {
  margin: 0;
  margin-top: 7px;
}

.casting_photo_img {
  border-radius: 50%;
  width: 68px;
  height: 68px;
  object-fit: cover;
  object-position: center;
}

.casting_photo_img_wrapper {
  position: relative;
  left: 18px;
  width: 68px;
}

.trailer_photo_container {
  text-align: center;
  overflow: hidden;
  height: 131px;
  width: auto;
  position: relative;
  outline: 0;
}

.trailer_photo_container img {
  width: initial;
}

.trailer_playtag {
  color: white;
  position: absolute;
  bottom: -4px;
  right: 24px;
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.trailer_ifone {
  left: 244px;
}

.trailerImage {
  margin: 0 10px;
}

.yearWrapper {
  position: relative;
}

.yearInner {
  position: absolute;
  top: -44px;
  left: 23px;
  color: white;
  width: 350px;
}

.yearLine {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0045ff;
  padding: 0;
  width: 256px;
}

.yearInner span {
  display: inline-block;
  top: 0;
  margin: 22px 0 22px 10px;
  vertical-align: bottom;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.yearLoading {
  display: inline-block;
  top: 0;
  margin: 22px 0 22px 10px;
  vertical-align: bottom;
}
