.ui_footer_link__container {
  display: flex;
  list-style: none;
  padding: 0 20rem;
}

@media only screen and (max-width: 1024px) {
  .ui_footer_link__container {
    padding: 0 1rem;
  }
}

/* .ui_footer_link__container li::before {
  content: '-';
  color: #fff;
  padding: 0 20px;
  position: relative;
  left: -40px;
} */

.ui_footer_link__container li:first-child::before {
  display: none;
}

.ui_footer_link__container li {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.ui_footer_link__container li a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

.ui_footer_link__container li a:hover {
  text-decoration: underline;
}
