.layer__parallax {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.layer__parallax_layer_1_wrapper {
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}

.layer__parallax_layer_1 img {
  height: 100%;
  width: 100%;

  /* min-width: 1190px; */
  z-index: 0;
  overflow: hidden;
}

.layer__parallax_layer_2 {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: inline-block;
  text-align: right;
}

.layer__parallax_layer_2 img {
  height: auto;
  width: auto;
  max-width: 100vh;
  max-height: 100vw;
}

.layer__parallax_layer_3 {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.layer__parallax_layer_3_info > img {
  width: 75%;
  margin: auto auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer__parallax_layer_3_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 300px;
  bottom: 0;
  z-index: 3;
  text-align: right;
}

.layer__parallax_layer_3_detail {
  /* width: 100vw; */
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.layer__parallax_layer_3_title {
  position: relative;
  padding: 5% 10%;
  letter-spacing: 0.08em;
  min-width: 300px;
  font-size: 0.875em;
  text-transform: uppercase;
}

.layer__parallax_layer_3_desc {
  padding: 0 10% 50%;
  font-size: 0.625rem;
  font-style: italic;
  white-space: pre-line;
  overflow: hidden;
  opacity: 0.8;
  min-width: 300px;
}

.layer__see_more {
  display: block;
  color: inherit;
  text-decoration: none;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-variant: unicase;
  padding-top: 5px;
  opacity: 0.6;

  /* animation: spaceout 2s infinite; */
}

.layer__see_more_arrow {
  position: relative;
  z-index: 1;
  opacity: 1;
  width: 0.97em !important;
  animation: moves 2s infinite;
}

.layer__see_more_line {
  position: relative;
  right: 0.5em;
  bottom: 0.0742em;
  z-index: 0;
  opacity: 1;
  width: 0.97em !important;
}

.layer__see_more:hover {
  letter-spacing: 0.2em;
  opacity: 0.8;
}

.layer__parallax_layer_3 :global(.parallax-inner) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Desktop style */
@media screen and (min-width: 1024px) {
  .layer__parallax_layer_3_detail {
    /* width: 100vw; */
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
  }

  .layer__parallax_layer_3_desc {
    padding: 0 5% 15% 5%;
    max-width: 420px;
  }

  .layer__parallax_layer_3_info {
    width: auto;
    max-width: 1080px;
    text-align: left;
  }

  .layer__parallax_layer_3_info > img {
    width: 25%;
    margin: auto auto 0 5%;
  }

  .layer__parallax_layer_3_title {
    padding: 1.5% 5%;
  }

  .layer__parallax_layer_2 img {
    max-width: 60%;
    max-height: 100vh;
  }
}

@keyframes spaceout {
  0% { letter-spacing: 0; }

  50% {
    letter-spacing: 0.12em;
  }
  100% { letter-spacing: 0; }
}

@keyframes moves {
  0% {
    right: 1em;
  }

  50% {
    right: 0.5em;
  }

  100% {
    right: 1em;
  }
}
