.layer__grid_desc_wrapper {
  position: relative;
  z-index: 2;
  height: 60%;
  margin: 5%;
  border-radius: 3px;
  overflow: hidden;
}

.layer__grid_desc_background {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  border-radius: 2px;
}

.layer__grid_desc_background::after {
  content: '';
  background: inherit;
  position: absolute;
  left: 0;
  right: 2.5%;
  top: 0;
  bottom: 0;
  filter: blur(10px);
}

.layer__grid_desc_content {
  position: relative;
  z-index: 2;
}

.layer__grid_desc_content h1 {
  font-size: 1.6rem;
}

.layer__grid_desc_content p,
.layer__grid_desc_content i,
.layer__grid_desc_content b,
.layer__grid_desc_content strong,
.layer__grid_desc_content span {
  font-size: 1rem;
}

.layer__grid_desc_header {
  height: 40%;
  opacity: 1;
  padding: 2.5% 5%;
  overflow: hidden;
}

.layer__grid_desc_breakpoint {
  opacity: 1;
  margin: 2.5% 5%;
  height: 0;
}

.layer__grid_desc_footer {
  height: 40%;
  opacity: 1;
  margin: 0 5%;
  overflow: hidden;
}

.layer__grid_desc_footer_quote {
  display: block;
  padding: 2.5% 0;
}
